body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #dcdcdc 50%, #e9e9e9 50%);
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

main{
    width: 300px;
    padding: 30px;
    background-color: #f7f7f7;
    border-radius: 30px;
    box-shadow: 0 30px 50px #5553;
    box-sizing: border-box;
    height: max-content;
    min-height: 300px;
}

main form{
    border: 1px solid #5553;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}

main form input, main form button{
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: transparent;
    outline:none;
}

main form i{
    opacity: 0.7;
}

main .result{
    text-align: center;
    padding-top: 20px;
}

main.result .name{
    font-size: large;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

main .temprature img{
    width: 150px;
    filter: drop-shadow(0 10px 50px #000);
}

main .temprature figcaption{
    font-size: 3em;
}

main .description{
    padding: 10px 0 30px;
}

main ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

main li{
    background-color: #148b9b;
    color: #dcdcdc;
    padding: 20px 10px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, transparent 50%, #0003 60%);
    font-weight: bold;
    font-size: small;
}

main li i{
    font-size: 2em;
    display: block!important;
    margin: 20px 0;
}

main li:nth-child(2){
    background-color: #2e86c1;
}
main li:nth-child(3){
    background-color: #1ba047;
}